name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      GTEST_OUTPUT: xml:test-results/

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-14 g++-14 cmake ninja-build postgresql postgresql-contrib libpq-dev
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 60
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 60
          sudo update-alternatives --set gcc /usr/bin/gcc-14
          sudo update-alternatives --set g++ /usr/bin/g++-14
          gcc --version
          g++ --version
          cmake --version

      - name: Configure and build
        run: |
          mkdir -p build
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug ..
          cmake --build .

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure || (echo "ctest failed" && exit 1)

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            test-results/**/*.xml